<div id="modal" class="modal fade" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <div id="modal-sending" style="display: none;">
                    <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div id="modal-buttons">
                    <button id="modal-submit" type="button" class="btn btn-danger">تایید</button>
                    <button type="button" class="btn btn-dark" data-dismiss="modal">انصراف</button>
                </div>
            </div>

        </div>
    </div>
</div>